.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: coral;
}

.pazzle_logo img{
  width: 150px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-items .navbar-item {
    list-style: none;
    margin-right: 10px;
    padding-right: 10px;
}

.navbar-item{
    font-size: 15px;
    color: #fff;
}

.navbar-item:hover{
    color: yellow;
}


